* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Courier New", Courier, monospace;
  
}
html{
  width: 100vw;
  overflow-x: hidden;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.692);
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)), url("image/background-1409125.svg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: scroll;  
}
::-webkit-scrollbar{
  width:0;
  background:transparent;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
#nav {
width: 100vw;

}
#nav ul {
  justify-content: flex-end;
  width: 100vw;
  margin: 0;
  padding-top:2vw;
  list-style: none;
  display: flex;
  align-items: center;
}

#nav ul li {
  margin: 0 20px;
}

#nav ul li a .fa {
  font-size: 3vw;
  color: #555;
  line-height: 80px;
  transition: 0.5s;
}

#nav ul li a {
  display: grid;
  place-items: center;
  text-decoration: none;
  position: relative;
  width: 70px;
  height: 35px;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  
}

#nav ul li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #b2b2b2;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

#nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #e5e5e5;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

#nav ul li a:hover {
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(10px, -10px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #fff;
}

#nav ul li:hover .fa {
  color: #fff;
}

#nav ul li:hover:nth-child(1) a {
  background-color: #dd4b39;
}

#nav ul li:hover:nth-child(1) a::before {
  background-color: #b03c2d;
}

#nav ul li:hover:nth-child(1) a::after {
  background-color: #e05d4c;
}

#nav ul li:hover:nth-child(2) a {
  background-color: #55acee;
}

#nav ul li:hover:nth-child(2) a::before {
  background-color: #005f90;
}

#nav ul li:hover:nth-child(2) a::after {
  background-color: #66b4ef;
}

#nav ul li:hover:nth-child(3) a {
  background-color: #dd4b39;
}

#nav ul li:hover:nth-child(3) a::before {
  background-color: #b03c2d;
}

#nav ul li:hover:nth-child(3) a::after {
  background-color: #e05d4c;
}

#nav ul li:hover:nth-child(4) a {
  background-color: #55acee;
}

#nav ul li:hover:nth-child(4) a::before {
  background-color: #005f90;
}

#nav ul li:hover:nth-child(4) a::after {
  background-color: #55acee;
}

#nav ul li:hover:nth-child(5) a {
  background-color: #e4405f;
}

#nav ul li:hover:nth-child(5) a::before {
  background-color: #b6334c;
}

#nav ul li:hover:nth-child(5) a::after {
  background-color: #e6536f;
}

/*=========================
===========================
       social button
===========================
=========================== */

#fixed > span{
  display: none;
  position: absolute;
  place-content: center;
  color: white;
  margin-left: 20vw;
  
}
#social {
  position: absolute;
  margin-top: 20vh;
  left: 0;
}
.social-acc {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 2rem;

  padding: 2rem 1.2rem;
  place-items: center;
}

#contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-info .links {
  display: flex;
  justify-content: space-between;
}

#contact-info a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

/* ****************** */
/* PREVENTING FLICKERING ON HOVER BECAUSE OF ROTATING AND SKEW TRANSFORMATIONS*/
#contact-info .links a {
  display: block;
  position: relative;
}

#contact-info .links a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  transition: all 0.3s;
}

#contact-info .links a:hover::after {
  /* transform: rotate(35deg) skew(-20deg); */
  --transformed-box-diagonal-length: 164%;
  width: var(--transformed-box-diagonal-length);
  left: calc((100% - var(--transformed-box-diagonal-length)) / 2);
}



#contact-info .links a div {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  transition: transform 0.3s;
}

#contact-info .links a:hover div {
  transform: rotate(-35deg) skew(20deg);
}

.links a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  /* transition-property: opacity, transform;
  transition-duration: 0.5s; */
  border: 1px solid white;
  border-radius: 0.6rem;
}

.links a span:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  /* border-color: var(--color-bright); */
}

.links a:hover span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}

.links a:hover span:nth-child(4) {
  transform: translate(15px, -15px);
  opacity: 0.8;
}

.links a:hover span:nth-child(3) {
  transform: translate(10px, -10px);
  opacity: 0.6;
}

.links a:hover span:nth-child(2) {
  transform: translate(5px, -5px);
  opacity: 0.4;
}

.links a:hover span:nth-child(1) {
  opacity: 0.2;
}

/* orange background spans */
.links a.orange-background span {
  background: rgb(255, 97, 56);
  border-color: white;
}

.links a.orange-background span:nth-child(5) {
  background: black;
}

/* orange shadow */
.links a.orange-shadow:hover span {
  box-shadow: -1px 1px 3px rgb(255, 97, 56);
}

/* orange border  */
.links a.orange-border span {
  border-color: rgb(255, 97, 56);
}

.links a.orange-border span:nth-child(5) {
  border-color: rgb(242, 241, 198);
}

/*===========================

=============================*/

#main-cartoon img {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -10;
}

/*============================
==============================
             home
==============================
============================== */
#home {
  margin-left: 10vw;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: row;
}

#home-text {
  flex: 3;
  padding-left: 2.3vw;
}
#home-text span {
  
  font-size: 65px;
  font-weight: bolder;
  background: -webkit-linear-gradient(-45deg, white, red, rgb(204, 248, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#home-text p {
  color: white;
}
#home-pic {
  
  height: 250px;
  border-radius: 1rem;
  background-image: url("image/2021-06-07 a.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid black;
  transition: 0.5s;
}
#home-pic:hover {
  box-shadow: 0 0.6rem 0.6rem 0 rgba(8, 8, 8, 0.548),0 0.6rem 0.8rem 0 rgba(8, 8, 8, 0.527);
}



/*============================
==============================
          about
==============================
============================== */
#about {
  margin-left: 10vw;
  margin-right: 10vw;
}

/*============================
==============================
project
==============================
============================*/
#project .column {
  float: left;
  width: 33%;
  padding: 1rem  1rem;
  transition: 0.4s;
}

#project .column:hover{
  box-shadow: 0 0.6rem 0.6rem 0 rgba(8, 8, 8, 0.548),0 0.6rem 0.8rem 0 rgba(8, 8, 8, 0.527);
}

/* Remove extra left and right margins, due to padding */
#project .row 
{
  margin: 0 5rem;
}

/* Clear floats after the columns */
#project .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  background-color: #f1f1f1;
}
.card img{
  width: 100%;
  height: auto;
  background-position: center;
  border: 1px solid black;
}
/*============================
==============================
          Blog
==============================
==============================*/
#blog .column {
  float: left;
  width: 33%;
  padding: 1rem  1rem;
  transition: 0.4s;
}

#blog .column:hover{
  box-shadow: 0 0.6rem 0.6rem 0 rgba(8, 8, 8, 0.548),0 0.6rem 0.8rem 0 rgba(8, 8, 8, 0.527);
}

/* Remove extra left and right margins, due to padding */
#blog .row 
{
  margin: 0 5rem;
}

/* Clear floats after the columns */
#blog .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  background-color: #f1f1f1;
}
.card img{
  width: 100%;
  height: auto;
  background-position: center;
  border: 1px solid black;
}

/*============================
==============================
          contact
==============================
==============================*/

              

#contact{
  margin-left: 8vw;
}
#con-btn{
  margin-right: 59.7vw;
}
input[type=text], select, textarea {
  width: 40vw;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#contact label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
  box-shadow: 0 0.6rem 0.6rem 0 rgba(8, 8, 8, 0.548),0 0.6rem 0.8rem 0 rgba(8, 8, 8, 0.527);
}

#contact .container {
  border-radius: 5px;
  padding: 20px;
  color: white;
}

#contact .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

#contact.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  transition: 0.4s;
}


/* Clear floats after the columns */
#contact .row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 690px) {
   #contact .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  #home{
    min-height: 80vh;
  }
  #home-text span {
    font-family: "Alex Brush", cursive;
    }
}
@media screen and (min-width: 691px) {
 #home{
   min-height: 100vh;
 }
 #home-text span {
 font-family: "Alex Brush", cursive;
 }
}




/*=================================
===================================
              cartoon mobile
===================================
==================================*/

#mainbox{
  position: relative;
  
  width: 22rem;
  height: 16rem;
  margin: 5rem;
  z-index: -5;
}
#avt-img img{
  position: absolute;
  left: 8.2rem;
  margin-top: -0.5rem;
  width: 7rem;
  height: auto;
  transform: rotateX(10deg);
}
#b1{
  position: absolute;
  right: 14rem;
  top: 11rem;
  z-index: -2;
}
#b2{
  position: absolute;
  right: 8rem;
  top: 6rem;
  z-index: -3;
}
#b3{
  position: absolute;
  right: 2rem;
  top: 1rem;
  z-index: -4;
}


#mainbox ul li {
  list-style-type: none;
}

#mainbox ul li a {
  position: relative;
  display: block;
  width: 5rem;
  height: 5rem;
  background: rgb(202, 19, 19);
  transform: rotate(-35deg) skew(17.5deg) translate(0, 0);
  box-shadow: -5rem 5rem 2.5rem rgba(0, 0, 0, 0.5);

}

#mainbox ul li a::before {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: -2.5rem;
  height: 100%;
  width: 2.5rem;
  background: #b2b2b2;
  transform: rotate(0deg) skewY(-45deg);
}

#mainbox ul li a::after {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: -1.25rem;
  height: 2.5rem;
  width: 100%;
  background: #e5e5e5;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);

}

/*==================================
====================================
media-query
====================================
====================================*/


@media only screen and (max-width: 690px) {
  *{
    letter-spacing: 1.5px;
  }
  #project .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  #project .row 
  {
  margin: 0 3rem;
  }
  #blog .column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  }
  #blog .row 
  {
  margin: 0 3rem;
  }
  #nav{
    display: none;
  }
  #myNav1{
    padding: 0.625em;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    background-color: black;
    transition: 0.4s;
    border-radius: 0 0 8px 8px;
  }
  
  .glow {
    position: relative;
    left: 20vw;
    font-size: 4vh;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 45px #ff4da6;
    }
  }
  #main-cartoon {
    display: none;
  }
  #home{
    flex-direction: column;
    min-height: 50vh;
  }
  #home-pic{
    margin-top: 5vh;
    height: 200px;
    width: 200px;
    margin-left: 4.2rem;
  }
  #home-text span{
    font-size: 50px;
  }
  .social-acc {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1.5rem;
    font-size: 3.5vw;
  }
  #fixed {
    width: 100%;
    height: 10rem;
    background: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    
  }
  #fixed > span{
     display: inline;
  }
  input[type=text], select, textarea{
    width: 75vw;
  }
  #mainbox{
     left: -50px;
  }
  #contact h2{
    margin-left: 15vw;
  }
}
@media only screen and (min-width: 690px) {
  
  #fixed {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  #home-pic{
    flex: 1;
  }
  #myNav1{
    display: none;
  }
  #mainbox{
    display: none;
  }
  #contact h2{
    margin-left: 32vw;
  }
}

/*========================
==========================
       height of div
==========================
==========================*/


#about{
  min-height:100vh;
}
#project{
  min-height: 150vh;
}
#blog{
  min-height: 100vh;
}
#contact{
  min-height: 100vh;
}